body{
  font-family: 'Merriweather', 'Helvetica Neue', Arial, sans-serif;
	overflow-x: hidden; 
	
}

/*for mobile*/
body:before {
  content: "";
  display: block;
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: -10;
  background: url(img/eventPics/Scenery/sunset.jpg) no-repeat center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

#header{
  background-color:#193f49;
  background-image: url("img/eventPics/Scenery/sunset.jpg");
  background-size: cover;
  background-position: center center;
  /* padding-top: 10rem;
   padding-bottom: calc(10rem - 56px); */
  color: white;
  height: 100vh;
  background-attachment:fixed;
}

#header h1 {
  font-size: 10vw;
}

#header button {
	font-size: 4.5vw;
}

@media (min-width: 1200px) {
  #header h1 {
    font-size: 7vw;
  }
}

@media (min-width: 900px){
	#header button {
	font-size: 2.5vw;
}
}

#header .container{
  /*background-color: rgba(27, 32, 42, .75);*/
  border-radius: 25px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-shadow: 2px 2px 9px rgba(0, 0, 0, 0.4),
  -2px -2px 9px rgba(0, 0, 0, 0.4),
  2px -2px 9px rgba(0, 0, 0, 0.4),
  -2px 2px 9px rgba(0, 0, 0, 0.4);
}

#header h2, #header h3, #header h4{
  font-family: 'Open Sans', sans-serif;
}

#about{
	background-color: 	#37ABD2 !important;
}

#application button {
	font-size: 2vw;
}

@media (min-width: 990px){
	#application button {
	font-size: 1.5vw;
}
}

.bg-navy {
	background-color: #45516B !important;
}

.bg-gray {
	background-color:#dedfe0 !important;
}

.bg-lighter {
	background-color:#FFF !important;
}

section.bg-light{
  background-color: #f2f2f2 !important;
}

.border-darkToPrimary{
	border-color:#f2f2f2;
	transition: 0.3s;
}

.border-darkToPrimary:hover{
	border-color:#37ABD2;
	color:#37ABD2;
}

#organizer h2{
  font-size: 40px;
}

#organizer p{
  font-size: 18px;
}

/*Navigation*/

  #mainNav {
    -webkit-box-shadow: none;
    box-shadow: none;
    background-color: transparent;
  }
  #mainNav .navbar-brand {
    color: rgba(255, 255, 255, 0.7);
  }
  #mainNav .navbar-brand:hover {
    color: #fff;
  }
  #mainNav .navbar-nav .nav-item .nav-link {
    color: rgba(255, 255, 255, 0.7);
    padding: 0 1rem;
  }
  #mainNav .navbar-nav .nav-item .nav-link:hover {
    color: #fff;
  }
  #mainNav .navbar-nav .nav-item:last-child .nav-link {
    padding-right: 0;
  }
  #mainNav.navbar-scrolled {
    -webkit-box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
    background-color: #fff;
  }
  #mainNav.navbar-scrolled .navbar-brand {
    color: #212529;
  }
  #mainNav.navbar-scrolled .navbar-brand:hover {
    color: #f4623a;
  }
  #mainNav.navbar-scrolled .navbar-nav .nav-item .nav-link {
    color: #212529;
  }
  #mainNav.navbar-scrolled .navbar-nav .nav-item .nav-link:hover {
    color: #f4623a;
  }


/*End of Navigation*/

hr {
  max-width: 50px !important;
  border-width: 3px !important;
}

hr.blueHR {
  border-color: #5FAFC9 !important;
}

hr.lightHR {
  border-color: #fff;
}

a:link, a:visited {
	color: #5FAFC9;
}

a:hover, a:active {
	color: #F6D300 !important;
}

/*----------------------FOOTER STUFF---------------------------*/
.footer-distributed{
	background-color: #3e99b7;
	box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.12);
	box-sizing: border-box;
	width: 100%;
	text-align: left;
	font: bold 16px sans-serif;
	padding: 55px 50px;
	/*margin-top: 80px;*/
}

.footer-distributed .footer-left,
.footer-distributed .footer-center,
.footer-distributed .footer-right{
	display: inline-block;
	vertical-align: top;
}

/* Footer left */

.footer-distributed .footer-left{
	width: 40%;
}

/* The company logo */

.footer-distributed h3{
	color:  #ffffff;
	font: normal 36px 'Raleway';
	margin: 0;
}

.footer-distributed h3 span{
	color:  #5383d3;
}

/* Footer links */

.footer-distributed .footer-links{
	margin: 20px 0 12px;
	padding: 0;
}

.footer-distributed .footer-links a{
	display:inline-block;
	line-height: 1.8;
	text-decoration: none;
	color:  #ffffff;
}

.footer-distributed .footer-company-name{
	color:  white;
	font-size: 14px;
	font-weight: normal;
	margin: 0;
}

/* Footer Center */

.footer-distributed .footer-center{
	width: 35%;
}

.footer-distributed .footer-center i{
	background-color:  white;
	color: #3e99b7;
	font-size: 22px;
	width: 38px;
	height: 38px;
	border-radius: 50%;
	text-align: center;
	line-height: 42px;
	margin: 10px 15px;
	vertical-align: middle;
}

.footer-distributed .footer-center i.fa-envelope{
	font-size: 17px;
	line-height: 38px;
}

.footer-distributed .footer-center p{
	display: inline-block;
	color: #ffffff;
	vertical-align: middle;
	margin:0;
}

.footer-distributed .footer-center p span{
	display:block;
	font-weight: normal;
	font-size:14px;
	line-height:2;
}

.footer-distributed .footer-center p a{
	color:  white;
	text-decoration: none;;
}


/* Footer Right */

.footer-distributed .footer-right{
	width: 20%;
}

.footer-distributed .footer-company-about{
	line-height: 20px;
	color:  #ffffff;
	font-size: 13px;
	font-weight: normal;
	margin: 0;
}

.footer-distributed .footer-company-about span{
	display: block;
	color:  #ffffff;
	font-size: 14px;
	font-weight: bold;
	margin-bottom: 20px;
}

.footer-distributed .footer-icons{
	margin-top: 25px;
}

.footer-distributed .footer-icons a{
	display: inline-block;
	width: 35px;
	height: 35px;
	cursor: pointer;
	background-color:  #ffffff;
	border-radius: 2px;

	font-size: 25px;
	color: #3e99b7;
	text-align: center;
	line-height: 35px;

	margin-right: 3px;
	margin-bottom: 5px;
}

/* If you don't want the footer to be responsive, remove these media queries */

@media (max-width: 880px) {

	.footer-distributed{
		font: bold 14px sans-serif;
	}

	.footer-distributed .footer-left,
	.footer-distributed .footer-center,
	.footer-distributed .footer-right{
		display: block;
		width: 100%;
		margin-bottom: 40px;
		text-align: center;
	}

	.footer-distributed .footer-center i{
		margin-left: 0;
	}

}
/*------------FOOTER STUFF ENDS-------------------*/
