body,
html {
  width: 100%;
  height: 100%;
}

*{
  box-sizing:border-box;
  font-style: normal;
}

html {
  scroll-behavior: smooth;
}


body {
  font-family: 'Merriweather', 'Helvetica Neue', Arial, sans-serif;
}

hr {
  max-width: 50px !important;
  border-width: 3px !important;
}


h1,
h2,
h3,
h4,
h5,
h6,
p {
  font-family: 'Open Sans', 'Helvetica Neue', Arial, sans-serif;
  font-style: normal;
}

p{
  font-size: 18px;
}

selection {
  color: #fff;
  background: #45516B;
  text-shadow: none;
}

img::selection {
  color: #fff;
  background: transparent;
}

/*for mobile*/
body:before {
  content: "";
  display: block;
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: -10;
  background: url(img/bg1.png) no-repeat center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

@media (max-width:1200px){
  body:before{
    background: url(img/screen.jpg);
    background-size: cover;
    background-position: center center;
  }
}

/*------------ GENERAL BACKGROUND COLORS AND TEXT DESINGS ----------------*/
a:link, a:visited {
  color: #5FAFC9;
  transition: all 0.2s;
}

a:hover, a:active {
  color: #F6D300 !important;
}


.bg-primary{
  background-color: #5FAFC9 !important;
}

.bg-dark {
  background-color: #45516B !important;
}

.bg-light{
  background-color: #f2f2f2 !important;
}

.bg-lightBlue{
  background-color:#AADAFF !important;
}

.bg-lighter {
  background-color:#FFF !important;
}

.bg-grey {
  background-color: #F9F9F9!important;
}

section.bg-light{
  background-color: #f2f2f2 !important;
}

.text-faded {
  color: rgba(255, 255, 255, 0.8);
}

hr.blueHR {
  border-color: #5FAFC9 !important;
}

hr.lightHR {
  border-color: #fff;
}

hr.diamondHR {
  border-color: #77a6d8;
}

hr.goldHR {
  border-color: #d8b14b;
}

hr.silverHR {
  border-color: #96a0aa;
}

hr.bronzeHR {
  border-color: #ad7d62;
}

hr.communityHR {
  border-color: #141414;
  
}


/*------------ GENERAL BACKGROUND COLORS AND TEXT DESINGS END----------------*/

/*------------ SECTION DESIGN AND STUFF START ----------------*/
section {
  padding: 4rem 0;
}

.section-heading {
  margin-top: 0;
}
/*------------ SECTION DESIGN AND STUFF END ----------------*/

/* Team Section---------------------------*/

#team .container .card p {
  text-align: left;
  align-items: center;
  font-size: 12px;
}

#team .container .card {
  background-color: white;
  border-radius: 2em;
  padding: 1em;
  margin: 1%;
  justify-items: center;
 
}

#team .container .card .card-title {
  font-size: 20px;
  font-weight: 600;
  text-align: center;
}

#team .prog {
  border-color: #EF5F2D;
  border-width: medium;
}

#team .finance {
  border-color: #FFD201;
  border-width: medium;
}

#team .marketing {
  border-color: #5FAFC9;
  border-width: medium;
}

#team .logistics {
  border-color: #EF5F2D;
  border-width: medium;
}

#team .PR {
  border-color: #FFD201;
  border-width: medium;
}

#team .CA {
  border-color: #5FAFC9;
  border-width: medium;
}




/*-----------------------END SECTION STUFF-------------------------*/

