rimgbody {
  font-family: 'Merriweather', 'Helvetica Neue', Arial, sans-serif;
  padding: 0.5vw;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
figcaption, 
a {
  font-family: 'Open Sans','Helvetica Neue', Arial, sans-serif;
}

.row {
  display: flex;
}
/* Create three columns that sits next to each other */
.column {
  padding: 2vw;
}

.side {
  flex: 20%;
}

.middle {
  flex: 60%;
}

h1 {
  text-align: center;
  font-size: 5vw;
  font-weight: 200;

}

.date { 
 line-height: 0vw; 
 padding: 0vw; 
 top: 0vw;
 padding-bottom: 1vw;
 font-size: 1.5vw;
 font-weight: 600;
 text-align: center;
 font-family: 'Lato', sans-serif;
 color: #5FAFC9;
}

.mainimg { 
max-width:100%;
max-height:auto;
display: block;
margin-left: auto;
margin-right: auto; 
}

.sideimg { 
max-width:50vw;
max-height:auto;
display: block;
margin-left: auto;
margin-right: auto; 
}

.text {
  font-size: 1.5vw;
  text-align: left;
  text-indent: 2vw;
  font-weight: 450;
  line-height: 3vw;
  color: #000000;
  margin: 0;
  width: 40%;
}

.bold {
  font-weight: bold;
}

.author { 
/* position:absolute;
 padding-top: 1vw; */
 color: #000000;
 font-weight: 600; 
 font-size: 1.7vw; 
 text-align: center;
 margin-top: 2vw;
}

.name { 
 /* padding-top: 43px; 
 font-size: 1.5vw; */
 color: #ef5f2d; 
 font-size: 1.4vw;
 text-align: center; 
 margin-top: -0.7vw;
 }

.email { 
  font-family: 'Open Sans','Helvetica Neue', Arial, sans-serif;
  text-decoration: none;
  color: #000000;
  font-weight: 400;
  font-size: 1vw; 
  margin-left: 0.1vw;

 }

.berine {
display: block;
margin-left: auto;
margin-right: auto;
width: 10vw;
height: 10vw;
position: relative;
}

.related { 
  background-color:#f2f2f2
 }

.rrow {
  display: flex;
}
/* Create three columns that sits next to each other */
.rcolumn {
  flex: 33.333%;
  padding: 4%;
}

.rtitle { 
  margin: 0 auto;
  position: relative;
 }

.rimg { 
  max-width: 100%
 }

.btitle {
  font-size: 1.7vw;
  padding-top: 1.7vw;
  padding-bottom: 0vw;
  text-align: left;
  font-weight: 600;
  color: #000000;
}
/* CSS for captions */
.bby {
    color: #5FAFC9;
    font-weight: 450;
    text-align: left;
    padding-bottom: 1vw;
    font-size: 1.2vw;
}

.btext {
  font-size: 1.2vw;
  max-width: 85%;
  font-weight: 450;
  font-family: 'Lato', sans-serif;
  line-height: 1.5vw
}

.readmore {
  color: #ef5f2d
  font-size: 1.5vw;
}