body {
  font-family: 'Merriweather', 'Helvetica Neue', Arial, sans-serif;
}

selection {
  color: #fff;
  background: #45516B;
  text-shadow: none;
}

.bg-blue{
  background-color: #5FAFC9;
}

.card img{
  object-fit: cover;
}

.bio {
  font-size: .9rem;
}

.affiliation {
  font-style: italic;
}

.alumniData i {
  color: #4c8ca0;
}
